.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.normal {
  border: 1px solid #0d720d;
  box-shadow: 0 0 2px 2px greenyellow;
  }

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

div .is-done {
  opacity: 0.1;
  }

button:active {
  background-color: red;
  }